# Supabase Project Configuration
NEXT_PUBLIC_SUPABASE_URL=https://kxjyewhhdyeylfagwieb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_qekJJhIYjEh52w5IfnGCqw_LRraeFBG
SUPABASE_SERVICE_ROLE_KEY=

# App Base Domain
NEXT_PUBLIC_APP_URL=https://ride-sathi.vercel.app

# Dodo Payments Configuration
DODO_PAYMENTS_API_KEY=
DODO_PAYMENTS_ENV=test_mode
DODO_PAYMENTS_WEBHOOK_SECRET=

# Optional Providers
MAPS_API_KEY=
